    /* -- base color: emrald #2ecc71*/
    
    @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Open+Sans:ital,wght@0,300;0,400;1,300&display=swap');
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
    }
    
    .max-width {
        max-width: 1300px;
        padding: 0 80px;
        margin: auto;
    }
    /* Copied part from omnifood */
    
    html,
    body {
        background-color: #fff;
        color: #555;
        font-family: 'Lato', 'Arial', sans-serif;
        font-weight: 300;
        font-size: 20px;
        text-rendering: optimizeLegibility;
        overflow-x: hidden;
    }
    /* navbar styling */
    
    .navbar {
        position: fixed;
        width: 100%;
        padding: 30px 0;
        font-family: 'Lato', sans-serif;
        transition: all 0.3s ease
    }
    
    .navbar .sticky {
        padding: 15px 0;
        background: #2ecc71;
    }
    
    .navbar .max-width {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .navbar .logo a {
        color: #fff;
        font-size: 35px;
        font-weight: 600;
    }
    
    .navbar .logo a span {
        color: #2ecc71;
        transition: all 0.3s ease;
    }
    
    .navbar .sticky .logo a span {
        color: #fff;
    }
    
    .navbar .menu li {
        list-style: none;
        display: inline-block;
    }
    
    .navbar .menu li a {
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        margin-left: 25px;
        transition: color 0.3s ease;
    }
    
    .navbar .menu li a:hover {
        color: #2ecc71;
    }
    
    .navbar .sticky .logo a:hover {
        color: #fff;
    }
    /* menu button styling */
    
    .menu-btn {
        color: #fff;
        font-size: 23px;
        cursor: pointer;
        display: none;
    }
    /* home section styling */
    /* 
    header {
        background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://images.unsplash.com/photo-1593642532744-d377ab507dc8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80);
        background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://images.unsplash.com/photo-1593642532744-d377ab507dc8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80);
        background-size: cover;
        background-position: center;
        height: 100vh;
        background-attachment: fixed;
        z-index: -2;
    } */
    
    .home {
        display: flex;
        height: 100vh;
        color: #fff;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://images.unsplash.com/photo-1593642532744-d377ab507dc8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80);
        min-height: 500px;
        font-family: 'Lato', sans-serif;
    }
    
    .home .max-width {
        margin: auto 0 auto 40px;
    }
    
    .home .home-content .text-1 {
        font-size: 27px;
    }
    
    .home .home-content .text-2 {
        font-size: 75px;
        font-weight: 600;
        margin-left: -3px;
    }
    
    .home .home-content .text-3 {
        font-size: 40px;
        margin: 5px 0;
    }
    
    .home .home-content .text-3 span {
        color: #2ecc71;
        font-weight: 500;
    }
    /* responsive media query start */
    
    @media (max-width: 1104px) {
        .home .max-width {
            margin-left: 0px;
        }
    }
    
    @media (max-width: 991px) {
        .max-width {
            padding: 0 50px;
        }
    }
    
    @media (max-width: 947px) {
        .menu-btn {
            display: block;
            z-index: 999;
        }
        .menu-btn i.active:before {
            content: "\f00d";
        }
        .navbar .menu {
            position: fixed;
            height: 100vh;
            width: 100%;
            left: -100%;
            top: 0;
            background: #111;
            text-align: center;
            padding-top: 80px;
            transition: all 0.3s ease;
        }
        .navbar .menu.active {
            left: 0;
        }
        .navbar .menu li {
            display: block;
        }
        .navbar .menu li a {
            display: inline-block;
            margin: 20px 0;
            font-size: 25px;
        }
        .home .home-content .text-2 {
            font-size: 70px;
        }
        .home .home-content .text-3 {
            font-size: 35px;
        }
    }
    
    @media (max-width: 690px) {
        .max-width {
            padding: 0 23px;
        }
        .home .home-content .text-2 {
            font-size: 60px;
        }
        .home .home-content .text-3 {
            font-size: 32px;
        }
    }
    
    @media (max-width: 500px) {
        .home .home-content .text-2 {
            font-size: 50px;
        }
        .home .home-content .text-3 {
            font-size: 27px;
        }
    }
    /* Sticky navi */
    
    .sticky {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: 9999;
    }
    
    .navbar .sticky {
        margin-top: 10px;
        padding: 15px;
    }
    
    .navbar .sticky .logo a {
        color: #fff;
        display: block;
    }
    
    .navbar .sticky .logo a span {
        color: #fff;
    }
    
    #change-color .sticky a span {
        color: #fff;
    }